input[type="checkbox"] {
    visibility: hidden;
}
.customCheckbox {
	width: 30px;
	height: 30px;
    background: rgb(84,141,212);
	margin: 20px;
	position: relative;
}

.customCheckbox label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 5px;
	top: 5px;
    background: white;
}

.customCheckbox label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 28px; //9px
	height: 11px;  //5px
	background: transparent;
	top: -5px;  //4px
	left: 2px;  //4px
	border: 3px solid #92D050;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.customCheckbox input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.customCheckbox span{
    position: relative;
    left: 50px;
    line-height: 30px;
    margin: 0px;
    top: -20px;
    width:150px;
}