*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-menu{
    width:190px;
    height: 100vh;
    background-color: #92D050;
    color: white;
    position:fixed;
    left: -190px;
    -webkit-transition: all .3s;
    text-align: center;
}

.side-menu li{
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid #81B747;
}

.side-menu li:active{
    background-color: #81B747;    
}

.showMenu{
    left: 0px;   
}

.slideBody{
    left: 190px !important;   
}

.main{
    width: 100%;
    position: fixed;
    left: 0px;
    -webkit-transition: all .3s;
    border-right: 5px solid black;
}

.shadow{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    opacity: 0.8;
}

.header{
    background-color: white;
    width: 100%;
    position: relative;
    height: 50px;
    color: #548DD4;
    border: 2px solid #548DD4;
    margin-bottom: 5px;
    box-sizing: content-box;
}

.menu-button{
    padding: 0px 20px;
    border-right: 2px solid #548DD4;
    line-height: 50px;
    font-size: 20px;
}

.menu-button:hover{
    color: blue;   
}

.header-logo{
    vertical-align: top;
    height: 45px;
}

.content{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    position: relative;

}

@media handheld, screen and (max-width: 70em){

}