/*********************
*   Ticket Styling   *
*********************/

@font-face {font-family: 'Sansation'; src: url('../fonts/Sansation.ttf')}
body{
    background-color: white;
    color: #548DD4;
    height: auto; 
    min-height: 100vh;
    border-left:30px solid #548DD4;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Sansation';
    color: rgb(84,141,212);
    padding-left: 5%;
    margin-left:5px;
}
#ticketLogo{
    height: 45px;
    position: relative;
    left: calc(50% - 135px);
    top: 7.5px;
}
#backToMainButton{
    position: absolute;
    left: 85%;
    float: left;
}
.ticketContent{
    width: calc(100% - 30px);
    height: 80%;
    background-color: white;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    padding-bottom: 5px;
    
}
.absPos{
    position: absolute;
}
.ticketMap{
    width: calc(100% - 15px);
    height: 150px; 
    position: relative;  
    margin-left: 5%;
}
ul{
    padding-left: 0px;
    list-style: none;
    color: #548DD4;
    margin-left: 6%;
}
ul li{
    font-size: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #92D050;
    
}
a{
    text-decoration: none;
    color: #548DD4;
}
/* Nur Temporär bis Lösung Dominik*/

/****************************
*   Zurück-Button Styling   *
****************************/
.mapButton{
    top: 0px;
    width: 15%;
    height: 60px;
    z-index: 10000;
    background-color: white;
    -webkit-transition: left .2s;
    transition: left .3s;
    line-height: 60px;
    text-align: center;
}

.mapButton:active{
    background-color: #548DD4;   
}

.mapButton:active i{
    color: white;    
}

.mapButton i{
    font-size: 40px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: #548DD4;
}
/******************
*   Map Styling   *
******************/
.leaflet-popup-close-button{
    border-radius:100% !important;
    top:-5px !important;
    right:-5px !important;
    background-color: #548DD4 !important;
    padding: 5px !important;
    color: white !important;
    width: 14px !important;
}
/*******************
*  Suchbildschirm  *
*******************/
.searchForm{
    width: calc(100% - 22px);
    height: 40px;
    margin-left: 5%;
    padding-left: 2px;
}

.searchForm #startzeit{
    width: 78%;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #92D050;
    border-radius: 5px;
    display:inline-block;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    z-index: 1;
}

.searchForm #startzeit:focus{
    outline: 0;    
}

.searchForm #searchButton{
    width:18%;
    height: 40px;
    margin: 0px;
    border: 1px solid #92D050;
    border-radius: 5px;
    background-color: white;
    color: #92D050;
    display: inline-block;
    font-size: 20px;
    z-index: 100;
    background-color: white;
    outline: 0;
    text-align: center;
    line-height: 40px;
}

.searchForm #searchButton:active;{
    background-color: #548DD4;
}

.searchForm #searchButton:focus{
    outline: 0;    
}

/*Ende Temp-Lsg.*/