body{
    margin: 0px;
    background-color: red;
}
#content{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 300%;
    height: 100%;
    position: fixed;
    left: 0px;
}
.fixedPos{
    position: fixed;
}
#start, #map, #options{
    margin: 0px;
    height: 100%;
    -webkit-transition: all .3s;
}

#start{
    background-color: white;
    left: 0px;
    width: 80%;
    border-left: 30px solid #548DD4;
}
#map{
    background-color: #548DD4;
    left: 100%;
    width: 140%;
    margin-left: -20%;
    margin-right: 20%;
}
#options{
    background-color: white;
    width:80%;
    left: 220%;
}
.mapButton{
    top: 0px;
    width: 20%;
    height: 60px;
    z-index: 10000;
    background-color: white;
    -webkit-transition: all .3s;
    transition: all .3s;
    line-height: 60px;
}

.mapButton i{
    font-size: 40px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: #548DD4;
}

#mapButtonRight{
    left: 80%;
}
#mapButtonLeft{
    left: 200%;
}

/*CSS-Angaben für die Animationen*/
.swipeToLeft80{
    left: -80% !important;    
}

.swipeToLeft100{
    left: -100% !important;
}

.swipeToLeft200{
    left: -200% !important;    
}

.swipeTo0px{
    left: 0 !important;    
}

.swipeTo100{
    left: 100% !important;    
}

.swipeTo200{
    left:200% !important;    
}
.swipeToRight{
    
}