body{
    margin: 0px;
    background-color: red;
}
#content{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.fixedPos{
    position: fixed;
}
#start, #map, #options{
    position: absolute;
    margin: 0px;
    height: 100%;
}

#start{
    background-color: green;
    left: 0px;
    width: 80%;
}
#map{
    background-color: blue;
    left: 100%;
    width: 140%;
    margin-left: -20%;
    margin-right: 20%;
}
#options{
    background-color: grey;
    width:80%;
    left: 220%;
}
.mapButton{
    top: 0px;
    width: 20%;
    height: 60px;
    z-index: 10000;
    background-color: yellow;
}
#mapButtonRight{
    left: 80%;
}
#mapButtonLeft{
    left: 200%;
}

/*CSS-Angaben für die Animationen*/
.swipeToLeft{
    left: -100px;
}
.swipeToRight{
    
}