#start{
    width: 90%;
}
#map{
    left: 100%;
    width: 120%;
    margin-left: -10%;
    margin-right: 10%;
}
#options{
    width:90%;
    left: 210%;
}
.mapButton{
    width: 10%;
    height: 60px;
    background-color: black;
}
#mapButtonRight{
    left: 90%;
}
#mapButtonLeft{
    left: 200%;
}