/*
    Farben:
        Logo:
            e:      #92D050;
                    rgb(146,208,80);
            ParCar: #548DD4;
                    rgb(84,141,212);
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;   
}

.side-menu{
    width:190px;
    height: 100vh;
    background-color: #548DD4;
    color: white;
    position:fixed;
    left: -190px;
    top: 50px;
    -webkit-transition: all .3s;
    text-align: center;
}

.side-menu li{
    font-size: 25px;
    padding: 20px;
    border-bottom: 2px solid #497CBB;
}

.side-menu li:active{
    background-color: #497CBB;    
}

.showMenu{
    left: 0px;   
}

.slideBody{
    left: 190px !important;   
}

.main{
    width: 100%;
    position: relative;
    left: 0px;
    -webkit-transition: all .3s;
}

.no-scroll{
    position: fixed;   
}

.shadow{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    opacity: 0.8;
}

.header{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    color: #548DD4;
    border: 2px solid #548DD4;
    margin-bottom: 5px;
    box-sizing: content-box;
    z-index: 10000;
    -webkit-transition: all .3s
}

.menu-button{
    padding: 0px 20px;
    border-right: 2px solid #548DD4;
    line-height: 50px;
    font-size: 20px;
    background-color: #92D050;
    color: white;
}

.menu-button:active{
    color: #497CBB;   
}

.header-logo{
    vertical-align: top;
    height: 50px;
}

.content{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    position: relative;
    margin-top: 55px;
}

.ui-loader{
    display:none;    
}

@media handheld, screen and (max-width: 70em){

}