body{
    margin: 0px;
    background-color: #548DD4;
    font-family: 'Roboto', sans-serif;
}
#content{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 300%;
    height: 100%;
    position: fixed;
    left: 0px;
}
.fixedPos{
    position: fixed;
}
#start, #map, #options{
    margin: 0px;
    height: 100%;
    -webkit-transition: all .3s;
}

#start{
    background-color: white;
    left: 0px;
    width: 85%;
    border-left: 30px solid #548DD4;
}

#map{
    background-color: #548DD4;
    left: 100%;
    width: 130%;
    margin-left: -15%;
    margin-right: 15%;
}
#options{
    background-color: white;
    width: calc(85% - 30px);
    left: 215%;
    border-right: 30px solid #548DD4;
}

.logoImage{
    height: 45px;
    position: relative;
    left: calc(50% - 123px);
    top: 7.5px;
}

.buttonGroup{
    width: 80%;
    height: 40%;
    background-color: white;
    position: relative;
    top: 10%;
    left: 5%;
}

.sideButton{
    width: 40%;
    height: 40%;
    display: inline-block;
    background-color: white;
    border: 1px solid #92D050;
    -webkit-box-shadow: 0px 0px 22px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -9px rgba(0,0,0,0.75);
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
}


.sideButton:active{
    background-color: #548DD4;
}

.sideButton:active span{
    color: white;    
}

.sideButton i{
    display:block;
    color: #92D050;
    font-size: 30px;
    margin-top: 5px;
}

.sideButton span{
    color: #548DD4;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
}

.bottomButtons{
    width: 80%;
    height: 20%;
    background-color: white;
    position: absolute;
    top: 78%;
    left: 5%;
}

.botSideButton{
    width: 30%;
    height: 70%;
    display: inline-block;
    background-color: white;
    border: 1px solid #92D050;
    -webkit-box-shadow: 0px 0px 22px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -9px rgba(0,0,0,0.75);
    position: absolute;
    margin-left: 0px;
}

.botSideButton:nth-child(2){
    left: 68%;
}

.mapButton{
    top: 0px;
    width: 15%;
    height: 60px;
    z-index: 10000;
    background-color: white;
    -webkit-transition: left .2s;
    transition: left .3s;
    line-height: 60px;
    text-align: center;
}

.mapButton:active{
    background-color: #548DD4;   
}

.mapButton:active i{
    color: white;    
}

.mapButton i{
    font-size: 40px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: #548DD4;
}

#mapButtonRight{
    left: 85%;
    border-bottom-right-radius: 5px;
}

#mapButtonLeft{
    left: 215%;
    border-bottom-left-radius: 5px;
}

/*CSS-Angaben für die Animationen*/
.swipeToLeft80{
    left: -85% !important;    
}

.swipeTo80{
    left: 85% !important;    
}

.swipeTo15{
    left: 15% !important;
}

.swipeToLeft100{
    left: -100% !important;
}

.swipeToLeft200{
    left: -200% !important;    
}

.swipeTo0px{
    left: 0 !important;    
}

.swipeTo100{
    left: 100% !important;    
}

.swipeTo200{
    left:200% !important;    
}
.swipeToRight{
    
}

/******************
*   Map Styling   *
******************/

.leaflet-popup-close-button{
    border-radius:100% !important;
    top:-5px !important;
    right:-5px !important;
    background-color: #548DD4 !important;
    padding: 5px !important;
    color: white !important;
    width: 14px !important;
}